examples/signalbox-demo.json
[
    {
        "id": "tab-signalbox-demo",
        "type": "tab",
        "label": "signalbox example",
        "disabled": false,
        "info": "Demonstrates signalbox: it passes messages through unchanged while tracking traffic stats in its status badge and in context.\n\nBoth nodes here share the Group \"cameras\", so they combine into one shared aggregate under global.signalbox-cameras. Fire each \"simulate traffic\" inject a few times, then fire \"inspect group stats\" to see the combined counts, busiest member, and merged top payloads in the debug sidebar."
    },
    {
        "id": "inject-traffic-1",
        "type": "inject",
        "z": "tab-signalbox-demo",
        "name": "simulate traffic (front door)",
        "props": [{ "p": "payload" }],
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": 0.5,
        "topic": "",
        "payload": "motion",
        "payloadType": "str",
        "x": 250,
        "y": 100,
        "wires": [["signalbox-node1"]]
    },
    {
        "id": "signalbox-node1",
        "type": "signalbox",
        "z": "tab-signalbox-demo",
        "name": "front door camera",
        "group": "cameras",
        "colorThresholds": true,
        "warnAfter": 5,
        "warnAfterUnit": "m",
        "errorAfter": 30,
        "errorAfterUnit": "m",
        "updateInterval": 5,
        "updateIntervalUnit": "s",
        "trackTopPayloads": true,
        "topPayloadsResetEvery": 1,
        "topPayloadsResetEveryUnit": "d",
        "x": 490,
        "y": 100,
        "wires": [["debug-passthrough"]]
    },
    {
        "id": "inject-traffic-2",
        "type": "inject",
        "z": "tab-signalbox-demo",
        "name": "simulate traffic (back yard)",
        "props": [{ "p": "payload" }],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.7,
        "topic": "",
        "payload": "motion",
        "payloadType": "str",
        "x": 250,
        "y": 160,
        "wires": [["signalbox-node2"]]
    },
    {
        "id": "signalbox-node2",
        "type": "signalbox",
        "z": "tab-signalbox-demo",
        "name": "back yard camera",
        "group": "cameras",
        "colorThresholds": true,
        "warnAfter": 5,
        "warnAfterUnit": "m",
        "errorAfter": 30,
        "errorAfterUnit": "m",
        "updateInterval": 5,
        "updateIntervalUnit": "s",
        "trackTopPayloads": true,
        "topPayloadsResetEvery": 1,
        "topPayloadsResetEveryUnit": "d",
        "x": 490,
        "y": 160,
        "wires": [["debug-passthrough"]]
    },
    {
        "id": "debug-passthrough",
        "type": "debug",
        "z": "tab-signalbox-demo",
        "name": "passthrough output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 130,
        "wires": []
    },
    {
        "id": "inject-inspect",
        "type": "inject",
        "z": "tab-signalbox-demo",
        "name": "inspect group stats",
        "props": [{ "p": "payload" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 280,
        "wires": [["fn-inspect"]]
    },
    {
        "id": "fn-inspect",
        "type": "function",
        "z": "tab-signalbox-demo",
        "name": "read global.signalbox-cameras",
        "func": "msg.payload = global.get(\"signalbox-cameras\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 280,
        "wires": [["debug-stats"]]
    },
    {
        "id": "debug-stats",
        "type": "debug",
        "z": "tab-signalbox-demo",
        "name": "combined group stats",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 280,
        "wires": []
    }
]
