examples/signalbox-demo.json
[
    {
        "id": "tab-signalbox-demo",
        "type": "tab",
        "label": "signalbox example",
        "disabled": false,
        "info": "Demonstrates signalbox: it passes messages through unchanged while tracking traffic stats in its status badge and in context.\n\nDeploy, then fire \"simulate traffic\" a few times and watch the status badge update. Fire \"inspect stats\" to dump global.signalbox (every signalbox instance in this flow) to the debug sidebar."
    },
    {
        "id": "inject-traffic",
        "type": "inject",
        "z": "tab-signalbox-demo",
        "name": "simulate traffic",
        "props": [{ "p": "payload" }],
        "repeat": "3",
        "crontab": "",
        "once": true,
        "onceDelay": 0.5,
        "topic": "",
        "payload": "open",
        "payloadType": "str",
        "x": 220,
        "y": 140,
        "wires": [["signalbox-node1"]]
    },
    {
        "id": "signalbox-node1",
        "type": "signalbox",
        "z": "tab-signalbox-demo",
        "name": "front door sensor",
        "colorThresholds": true,
        "warnAfter": 5,
        "warnAfterUnit": "m",
        "errorAfter": 30,
        "errorAfterUnit": "m",
        "updateInterval": 5,
        "updateIntervalUnit": "s",
        "trackTopPayloads": true,
        "topPayloadsResetEvery": 1,
        "topPayloadsResetEveryUnit": "d",
        "x": 460,
        "y": 140,
        "wires": [["debug-passthrough"]]
    },
    {
        "id": "debug-passthrough",
        "type": "debug",
        "z": "tab-signalbox-demo",
        "name": "passthrough output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 140,
        "wires": []
    },
    {
        "id": "inject-inspect",
        "type": "inject",
        "z": "tab-signalbox-demo",
        "name": "inspect stats",
        "props": [{ "p": "payload" }],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 260,
        "wires": [["fn-inspect"]]
    },
    {
        "id": "fn-inspect",
        "type": "function",
        "z": "tab-signalbox-demo",
        "name": "read global.signalbox",
        "func": "msg.payload = global.get(\"signalbox\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 260,
        "wires": [["debug-stats"]]
    },
    {
        "id": "debug-stats",
        "type": "debug",
        "z": "tab-signalbox-demo",
        "name": "stats",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 260,
        "wires": []
    }
]
